services:
  rabbitmq:
    image: rabbitmq:4.1.5-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      -  /home/ndrsilva/program-dev/docker/volumes/rabbirmq:/var/lib/rabbitmq
